<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>PRODUCT LIST</h2>
<table border="1" >
    <thead >
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>UNIT</th>
        <th>MANUFACTURER</th>
        <th>STATUS</th>
        <th colspan="2">
            <a type="button" class="btn btn-success" href="/show-add-form">New Product</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, iStat : ${productPage.content}">
        <td th:text="${product.product_id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.unit}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.status}"></td>
        <td><a class="btn btn-primary" th:href="@{products/show-edit-form/{id}(id=${product.product_id})}">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{products/delete/{id}(id=${product.product_id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div class="inline" th:if="${productPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/products(size=${productPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==productPage.number + 1} ? active"></a>
</div>
</body>
</html>